/** Define main theme colors */
:root {
  --theme-blue: #0678be;
  --theme-light-blue: #00a9e1;
  --theme-dark-grey: #1e202d;
  --theme-white: #fefefe;
  --theme-white-trans: hsla(0, 0%, 100%, 0.4);
  --theme-green: #9bb92c;
  --theme-box-shadow: rgba(0, 0, 0, 0.25);
  --theme-main-bg-white: #ffffff;
  --theme-main-text-grey: hsla(0, 0%, 0%, 0.8);
}
