/** Custom footer attributes */

.site-footer {
  background-color: var(--theme-dark-grey);
  box-shadow: 0px -3px 4px var(--theme-box-shadow);
  color: var(--theme-white);
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.site-footer img,
.site-footer ul {
  margin: 0;
}

.site-footer a {
  color: var(--theme-white);
}

.site-footer a:hover {
  color: var(--theme-light-blue);
  text-decoration: none;
}

.footer-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer-copyright {
  text-align: right;
}

.footer-social-links li {
  border-right: 1px solid var(--theme-white-trans);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  list-style-type: none;
  display: inline;
}

.footer-social-links li:first-child {
  padding-left: 0;
}

.footer-social-links li:last-child {
  border-right: none;
  padding-right: none;
}

@media only screen and (min-width: 681px) and (max-width: 880px) {
  .footer-flex-container {
    min-height: 160px;
  }

  .footer-copyright {
    flex-basis: 75%;
    text-align: left;
  }
}

@media only screen and (max-width: 680px) {
  .footer-social-links,
  .footer-badges,
  .footer-copyright {
    text-align: center;
    flex-basis: 100%;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .footer-social-links li {
   display: block;
   border-right: none;
  }
}
