/** Custom Layout and page style attributes */

h1 {
  font-size: 2rem;
}

.post-excerpt h2 > a {
  text-decoration: none;
}

.post-excerpt h2 > a:hover {
  text-decoration: underline;
}

.post-excerpt h2 {
  margin-bottom: 0.5rem;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.layout-container > .site-footer {
  flex-grow: 1;
}

main {
  margin: 1.5rem auto;
  max-width: 776px;
}

main a, main a:visited {
  color: var(--theme-blue);
}

main a:hover {
  color: var(--theme-dark-grey);
}

.post-summary-flex-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.2rem;
}

.featured-image {
  flex-basis: 25%;
  margin-right: 2rem;
}

.post-excerpt {
  flex-basis: 75%;
}

.flex-basis-full-width {
  flex-basis: 100%
}

.featured-image {
  max-width: 250px;
}

.post-date, .post-tags {
  margin-bottom: 1.45rem;
}

.post-tags span {
  margin-right: 1rem;
  padding: 0.45rem;
  border-radius: 2px;
  border: none;
  background-color: var(--theme-light-grey);
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media only screen and (max-width: 900px) {
  main {
    margin: 1.5rem 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .featured-image {
    display: none;
  }
  .post-excerpt {
    flex-basis: 100%;
  }
}
