/** Custom Layout and page style attributes */

h1 {
  font-size: 2rem;
}

.post-excerpt h2 > a {
  text-decoration: none;
}

.post-excerpt h2 > a:hover {
  text-decoration: underline;
}

.post-excerpt h2 {
  margin-bottom: 0.5rem;
}

.post-excerpt .post-date {
  margin-bottom: 0.5rem;
  font-size: 80%;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.layout-container > .site-footer {
  flex-grow: 1;
}

main {
  margin: 1.5rem auto;
  max-width: 776px;
}

main a, main a:visited {
  color: var(--theme-blue);
}

main a:hover {
  color: var(--theme-dark-grey);
}

@media only screen and (max-width: 900px) {
  main {
    margin: 1.5rem 2rem;
  }
}

